article {
    background-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(66, 206, 206);
    display: flex;
    h1 {
        color: blanchedalmond;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}
